/* Margin around contact form */
.contactForm {
    margin: 5vw;
}

/* Link color */
.contactForm a {
    color:black;
}

/* Settings for headers */
.contactHeader {
    padding-bottom: 2vw;
    padding-top: 3vw;
}

/* Button color */
.btn.btn-custom {
    background-color: #f9b301;
    color: white;
}

/* Text for 4k */
@media (min-width: 2560px) {
    .contactForm h2{
        font-size: 3vw;
    }

    .contactForm h3 {
        font-size: 2.5vw;
    }

    .contactForm p {
        font-size: 1.5vw;
    }

    .contactFormForm {
        font-size: 1.5vw;
    }

    .btn.btn-custom {
        font-size: 1.5vw;
    }
}
